.tab {
	font-weight: 700 !important;
	width: 100%;
	text-transform: capitalize !important;
}
.flow_wrapper {
	width: 100%;
	height: calc(100vh - 150px);
	border-radius: 8px;
	border: 1px solid lightgrey;
}

.node {
	width: fit-content;
	max-width: 250px;
	height: 60px;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid lightcoral;
	background-color: linen;
	text-align: center;
	text-wrap: wrap;
	font-size: 14px;
	padding-inline: 24px;
}

.expanded_node {
	max-width: 250px;
	border: 1px solid linen;
	background-color: lightcoral;
	width: fit-content;
	height: 60px;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-wrap: wrap;
	text-align: center;
	font-size: 14px;
	padding-inline: 2rem;
}
